<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.first">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".pop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".conmenu"></activity>
        <activity
            android:name=".meenuu"
            android:label="@string/title_activity_meenuu"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".whtsapp" />
        <activity android:name=".lisst_vieww" />
        <activity android:name=".gmaiillll" />
        <activity android:name=".ssmmss" />
        <activity android:name=".radioooo">
        </activity>
        <activity android:name=".Main5Activity" />
        <activity android:name=".order"></activity>
        <activity android:name=".Main4Activity" />
        <activity android:name=".Main3Activity" />
        <activity android:name=".in2" />
        <activity android:name=".in1" />
        <activity android:name=".Main2Activity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>